/*Base style full page*/

body { 
    font-family: "Roboto" sans-serif;
    background-color: #ffffff;
    color: #434343
}

a { 
    text-decoration: none;
    color: #2e2f42;
}

ul { 
    list-style-type: none;
}

/*Nav links */

.nav-link { 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.nav-link:hover, .nav-link:focus { 
    color: #404bbf;
}

.nav-link:active { 
    color: #404bbf;
}

.web-studio1 { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web-studio2 { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2e2f42;
}

.web-studio3 { 
    color: #f4f4df;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
}

address { 
    font-style: normal;
    letter-spacing: 0.02em;
    color: #434455;
}

/*hero-image section*/

#hero-image { 
    background-color: #2e2f42;
    color: #ffffff;
}

h1 { 
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
}

button { 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    background-color: #4d5ae5;
    color: #ffffff;
}

button:hover { 
    color: #404bbf;
    color: #ffffff;
    cursor: pointer;
}

/*hero-image section end*/

.name-section { 
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}

h3 { 
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
}

.advantages-descriptions { 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

.team-possition { 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

.project-type { 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

footer { 
    background-color: #2E2F42;
    color: #f4f4fd;
}