/* ==== Base style full page ==== */

body { 
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

a { 
    text-decoration: none;
    color: #2e2f42;
}

ul { 
    list-style-type: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 { 
    padding: 0;
} 

.name-section { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

/* ====Nav & links==== */

.page-head { 
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    height: 72px;
}

.web_studio-main, 
.header { 
    margin: 30px;
    top: 24px
}

.header-ul { 
    display: inline-flex;
    gap: 40px;
    top: 24px;
    left: 347px;
}

.nav-link { 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address { 
    color: #434455;
}

.nav-link:hover, .nav-link:focus { 
    color: #404bbf;
}

.nav-link:active { 
    color: #404bbf;
}

/* ==== logo ====*/

.web_studio-main { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web_studio-logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2e2f42;
}

.web_studio-footer { 
    color: #f4f4fd;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 3%;
}

/* ==== address ====*/

.tel-mail { 
    font-style: normal;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ==== Hero-image section ==== */

.hero-image { 
    background-color: #2e2f42;
    color: #ffffff;
}

.hero-title { 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

/* ==== button ==== */

.order-button { 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
}

.order-button:hover, .order-button:focus { 
    background-color: #404BBF;
    color: #ffffff;
    cursor: pointer;
}

/* ==== Advanteges section ==== */

.name-of-adventages { 
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-descriptions { 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ==== team section ==== */

.team { 
    background-color: #F4F4FD;
}

.team-li { 
    background-color: #FFFFFF;
}

.name-team { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-possition { 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

/* ==== Portfolio section ==== */

.project-name { 
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-type { 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ==== footer section ==== */

.author { 
    background-color: #2E2F42;
    color: #f4f4fd;
}

.footer-text { 
    line-height: 1.5;
    letter-spacing: 0.02em;
}